# Bitcoin Core Configuration
BITCOIN_RPC_USER=bitcoinrpc
BITCOIN_RPC_PASSWORD=bitcoinrpcpassword
BITCOIN_NETWORK=mainnet
BITCOIN_PRUNE=10000
BITCOIN_TXINDEX=0
BITCOIN_PARALLEL_CORE=6
BITCOIN_DBCACHE_RAM_MB=32000
BITCOIN_MAX_CONNECTIONS=128

# Bitcoin Ports
BITCOIN_RPC_PORT=8332
BITCOIN_P2P_PORT=8333
BITCOIN_ZMQ_BLOCK_PORT=28332
BITCOIN_ZMQ_TX_PORT=28333

# LND Configuration
LND_ALIAS=MyLNDNode
LND_COLOR=#3399ff
LND_WALLET_PASSWORD=your_secure_password_here

# LND Ports (Those aren't exposed, recommended to not change them)
LND_P2P_PORT=9735
LND_GRPC_PORT=10009
LND_REST_PORT=8080

# Elements(Liquid) Configuration
ELEMENTS_NETWORK=liquidv1
ELEMENTS_RPC_USER=elementsrpc
ELEMENTS_RPC_PASSWORD=elementsrpcpassword
ELEMENTS_PRUNE=10000
ELEMENTS_TXINDEX=0

# Those aren't exposed, recommended to not change them
ELEMENTS_RPC_PORT=18884
ELEMENTS_P2P_PORT=18886

# ThunderHub Configuration (when enabled)
THUNDERHUB_PORT=3000
THUNDERHUB_LOG_LEVEL=info
THUNDERHUB_PUBLIC_URL=http://0.0.0.0:32050
THUNDERHUB_LOGOUT_URL=http://0.0.0.0:32050
THUNDERHUB_BASE_PATH=/

# LNBits Configuration
LNBITS_SITE_TITLE=LNbits
LNBITS_SITE_TAGLINE=Open Source Lightning Payments Platform
LNBITS_SITE_DESCRIPTION=The worlds most powerful suite of bitcoin tools. Run for yourself, for others, or as part of a stack.

LNBITS_ENDPOINT=https://demo.lnbits.com
LNBITS_KEY=your_lnbits_key_here